apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: matrix-storage
  labels:
    app: distribiuted-matrix-multiplication
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
  storageClassName: standard
